.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../images/header-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}
nav a {
  text-decoration: none;
  color: #133852;
  margin: 0 65px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  margin-top: 50px;
  color: #133852;
}
header button {
  height: 30px;
  width: 24%;
  margin-top: 20px;
  border: 1px solid white;
  background: #133852;
  border-radius: 30px;
}
header button a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
section {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section div {
  border: 1px solid red;
  height: 50%;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #133852;
  background-color: white;
}
section .skills h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
section .skills ul {
  list-style-type: square;
}
section .skills div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  background-color: white;
  height: 15%;
}
footer p {
  color: #dea48b;
}
