.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../images/header-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
ul {
  list-style-type: square;
}
nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
nav a {
  text-decoration: none;
  color: #133852;
  margin: 0 65px;
}
@media (max-width: 500px) {
  nav a {
    padding: 10px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  margin-top: 50px;
  color: #133852;
}
@media (max-width: 500px) {
  header p {
    color: white;
  }
}
header a {
  padding: 20px 50px;
  text-decoration: none;
  margin: 25px;
  border-radius: 20px;
  color: #FD6F3D;
  font-size: 1.5rem;
  background-color: white;
}
section {
  height: 57%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  section {
    flex-direction: column;
    align-items: center;
  }
}
section h2 {
  padding: 15px 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
section div {
  border-radius: 20px;
  min-height: 50%;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #133852;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  section div {
    width: 90%;
    margin: 20px 0;
  }
}
section .skills div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
section .intro {
  flex-direction: column;
}
@media (max-width: 500px) {
  section .intro {
    padding-bottom: 50px;
  }
}
section .work-history {
  width: 75%;
  background: none;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  background: #133852;
  opacity: 0.9;
}
@media (max-width: 500px) {
  section .work-history h2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
@media (max-width: 500px) {
  section .work-history li {
    padding-bottom: 20px;
  }
}
footer {
  display: flex;
  background-color: #FD6F3D;
  justify-content: space-between;
  height: 10%;
  padding: 10px;
  color: white;
}
footer i {
  margin-right: 10px;
}
@media (max-width: 500px) {
  footer {
    height: 110px;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
  }
}
